body{
    margin: 0%;
    padding: 0%;
}
.contenedor {
    display: flex;
    flex-direction: column;
    background: rgb(66, 178, 135);
}

.content-list {
    margin: 2%;
    background: rgba(218, 228, 231, 0.912);
    width: auto;
    text-align: center;
}

.content-list ul {
    margin: 0;
    list-style-type: none;
}

@media only screen and (max-width: 450px) {
    img {
        max-width: 100%;
        height: auto;
    }
}