{%extends 'header/base.html'%}
{%load static%}
{%block content%}
<link rel="stylesheet" href="{%static 'styleContacto.css'%}">
    <section class="contenedor">
            <form action="contacto/" method="POST">
                <label for="title"> <h2> Asunto</h2></label><br>
                    <input type="text" name="titulo" id="titulo" style="width:40%; height:30px;"><br>
                <label for="correo"><h2> Email</h2></label><br>
                    <input type="email" name="email" id="email" style="width:40%; height:30px;"><br>
                <label for="descripcion"><h2>Descripcion</h2></label><br>
                <textarea name="campo" id="campo"></textarea><br>
                    <button type="submit">Enviar</button>
            </form>
    </section>
{%endblock%}