<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <header>
        
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarSupportedContent"> 
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
                        <li class="nav-link active" aria-current="page"></li><a href="#" class="nav-link">Home</li></a>
                        <li class="nav-item"></li><a href="#" class="nav-link">Servicio</li></a>
                        <li class="nav-item"></li><a href="#" class="nav-link">Tienda</li></a>
                        <li class="nav-item"></li><a href="#" class="nav-link">Blog</li></a>
                        <li class="nav-item"></li><a href="#" class="nav-link">Contacto</li></a>
                    </ul>
                </div>
            </div>
        </nav>      
    </header>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

</body>
</html>