{%extends 'header/base.html'%}
{%load static%}

{%block content%}
<link rel="stylesheet" href="{% static 'styleTienda.css'%}">
<section class="contenedor">
    <div class="widgetMarket">
        {%include 'widgetCarro.html'%}
        <p style="color: white;">Total: {{Importe_total}}</p>
        
    </div>
    {%for id in producto%}
    <div class="contenido">
        <ul style="margin: 0; padding: 0;">
            <li><img src="{{id.imagen.url}}" alt="Imagen del producto" width="400px" height="200px"></li>
            <li><p>{{id.nombre}}</p></li>
            <li><p> Tipo de producto: {{id.categoria.nombre}}</p></li>
            <li><p>{{id.precio}}</p></li>
            <li>
                {%if id.disponibilidad %} 
                <p style="color: green;">Hay stock</p> 
                <a href="{% url 'agregar' id.id %}" class="button">Añadir al carrito</a>
                {%else%} 
                <p style="color: red;">No hay stock</p> 
                {%endif%}
            </li>
        </ul>
    </div>
    {%endfor%}
</section>
{%endblock%}