body {
    margin: 0;
    padding: 0;
}
.contenedor {
    height: 100%;
    width: auto;
    background: rgb(233 233 233 / 81%);
    display: flex;
    flex-wrap: wrap;
}

.contenido {
    height: 30%;
    margin: 2%;
    border-radius: 3px;
    min-width: 45%;
    min-height: 40%;
    background-color: rgb(255 255 255 / 81%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenido ul {
    padding: 0;
}
.contenido ul li {
    text-align: center;
    list-style: none;
}

.contenido  h2{
    text-transform: uppercase;
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
}

.contenido  p { 
    align-content: center;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

 a.button {
    border: none;
    background-color: green;
    color: white;
    padding: 15px 32px;
    height: 40px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    transition-duration: 0.4s;
}
a.button-comprar {
    border: none;
    background-color: rgb(224, 176, 45);
    color: black;
    padding: 15px 32px;
    height: 40px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    transition-duration: 0.4s;
}
a.button-comprar:hover {
    background-color: rgb(195, 153, 38);
  }
a.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

div.widgetMarket {
    position: inherit;
    float: right;
    width: 20%;
    height: auto;
    background-color: rgb(255 255 255 / 81%);
    padding: 1%;
    text-align: center;
}

@media only screen and (max-width: 900px){
    .contenido {
        height: 50%;
        margin: 2%;
        padding:2%;
        border-radius: 3px;
        width: auto;
        background-color: rgb(255 255 255 / 81%);
        display: block;
        justify-content: center;
        align-items: center;
    }
    .contenedor {
        height: 100%;
        width: auto;
        background: rgb(233 233 233 / 81%);
        
        display: flow-root;
    }
    img {
        max-width: 100%;
    }
}