.container {   
    height: 40%;
    width: auto;
    background: rgb(6, 6, 145);
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.container ul {
    list-style-type: none;   
}
.container li{ 
    padding-top: 1em;
}
a.nav-link {
    text-decoration: none;
    color: rgba(251, 251, 251, 0.687);
}
a.nav-link:hover{
    color: rgb(251, 251, 251);
}

p {
    position: relative;
    display: block;
    justify-content: center;
    color: white;
}